{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "background.png": {
        "format": "L8_ARGB8888"
      },
      "battpercentage.png": {
        "format": "L8_ARGB8888"
      },
      "biggerFootprint.png": {
        "format": "L8_ARGB8888"
      },
      "biggerHeart.png": {
        "format": "L8_ARGB8888"
      },
      "biggerSpo2.png": {
        "format": "L8_ARGB8888"
      },
      "bluetooth.png": {
        "format": "L8_ARGB8888"
      },
      "bluetooth_big.png": {
        "format": "L8_ARGB8888"
      },
      "bluetooth_off.png": {
        "format": "L8_ARGB8888"
      },
      "blue_btn.png": {
        "format": "L8_ARGB8888"
      },
      "blue_btn_pressed.png": {
        "format": "L8_ARGB8888"
      },
      "brightness.png": {
        "format": "L8_ARGB8888"
      },
      "brightness2.png": {
        "format": "L8_ARGB8888"
      },
      "brightness_minus.png": {
        "format": "L8_ARGB8888"
      },
      "brightness_plus.png": {
        "format": "L8_ARGB8888"
      },
      "charge_on_batt.png": {
        "format": "L8_ARGB8888"
      },
      "charging.png": {
        "format": "L8_ARGB8888"
      },
      "dispatch_notpressed.png": {
        "format": "L8_ARGB8888"
      },
      "dispatch_pressed.png": {
        "format": "L8_ARGB8888"
      },
      "Es.png": {
        "format": "L8_ARGB8888"
      },
      "fall detected icon.png": {
        "format": "L8_ARGB8888"
      },
      "flashlight_icon.png": {
        "format": "L8_ARGB8888"
      },
      "footprint_icon.png": {
        "format": "L8_ARGB8888"
      },
      "footprint_progressbar_back.png": {
        "format": "L8_ARGB8888"
      },
      "gps_connected.png": {
        "format": "L8_ARGB8888"
      },
      "gps_notconnected.png": {
        "format": "L8_ARGB8888"
      },
      "Group 3.png": {
        "format": "L8_ARGB8888"
      },
      "Group 5.png": {
        "format": "L8_ARGB8888"
      },
      "Group 6.png": {
        "format": "L8_ARGB8888"
      },
      "hapticicon.png": {
        "format": "L8_ARGB8888"
      },
      "heart.png": {
        "format": "L8_ARGB8888"
      },
      "hr_icon.png": {
        "format": "L8_ARGB8888"
      },
      "information_icon.png": {
        "format": "L8_ARGB8888"
      },
      "lte.png": {
        "format": "L8_ARGB8888"
      },
      "lte_notconnected.png": {
        "format": "L8_ARGB8888"
      },
      "minifootprint.png": {
        "format": "L8_ARGB8888"
      },
      "minifootprint_color.png": {
        "format": "L8_ARGB8888"
      },
      "miniheart.png": {
        "format": "L8_ARGB8888"
      },
      "miniheart_color.png": {
        "format": "L8_ARGB8888"
      },
      "minispo2.png": {
        "format": "L8_ARGB8888"
      },
      "ontime_icon.png": {
        "format": "L8_ARGB8888"
      },
      "radiofill.png": {
        "format": "L8_ARGB8888"
      },
      "radionfill.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 12.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 12_D.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 13.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 14.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 15.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 16.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 21.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 22.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 26.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 28.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 29.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 30.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 31.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 31_D.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 32.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 32_D.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 40.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle 41.png": {
        "format": "L8_ARGB8888"
      },
      "Rectangle b.png": {
        "format": "L8_ARGB8888"
      },
      "Rectanglepressed.png": {
        "format": "L8_ARGB8888"
      },
      "right.png": {
        "format": "L8_ARGB8888"
      },
      "selectline.png": {
        "format": "L8_ARGB8888"
      },
      "settingicon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_device_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_english_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_haptic_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_iconback.png": {
        "format": "L8_ARGB8888"
      },
      "setting_information_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_korean_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_language_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_network_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_phone_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_screen_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_soundtoggle_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_sound_icon.png": {
        "format": "L8_ARGB8888"
      },
      "setting_system_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_brightness_back.png": {
        "format": "L8_ARGB8888"
      },
      "set_brigntness.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_brightness_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_device_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_english_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_haptic_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_iconback.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_korean_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_network_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_ontime_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_slider_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_sound_icon.png": {
        "format": "L8_ARGB8888"
      },
      "set_setting_spanish_icon.png": {
        "format": "L8_ARGB8888"
      },
      "sleep_time_icon.png": {
        "format": "L8_ARGB8888"
      },
      "sleep_time_progressbar_back.png": {
        "format": "L8_ARGB8888"
      },
      "sos_alert.png": {
        "format": "L8_ARGB8888"
      },
      "soundicon.png": {
        "format": "L8_ARGB8888"
      },
      "space.png": {
        "format": "L8_ARGB8888"
      },
      "spo2_icon.png": {
        "format": "L8_ARGB8888"
      },
      "spo2_icon_color.png": {
        "format": "L8_ARGB8888"
      },
      "stimul_start.png": {
        "format": "L8_ARGB8888"
      },
      "stimul_time_set.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_brightness.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_brightness_back.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_brightness_icon.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_brightness_indicator.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_button.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_button_pressed.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_flashlighticon.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_hapticicon.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_infoicon.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_settingicon.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_soundicon.png": {
        "format": "L8_ARGB8888"
      },
      "swipedown_wifiicon.png": {
        "format": "L8_ARGB8888"
      },
      "toggleoff.png": {
        "format": "L8_ARGB8888"
      },
      "toggleon.png": {
        "format": "L8_ARGB8888"
      },
      "uncharging.png": {
        "format": "L8_ARGB8888"
      },
      "waterdrop.png": {
        "format": "L8_ARGB8888"
      },
      "when_started.png": {
        "format": "L8_ARGB8888"
      },
      "when_stopped.png": {
        "format": "L8_ARGB8888"
      },
      "wifi_icon.png": {
        "format": "L8_ARGB8888"
      },
      "__generated\\alternate_theme_images_widgets_button_regular_height_50_medium_rounded_normal.png": {
        "format": "L8_ARGB8888"
      },
      "__generated\\alternate_theme_images_widgets_button_regular_height_50_medium_rounded_pressed.png": {
        "format": "L8_ARGB8888"
      },
      "__generated\\alternate_theme_images_widgets_button_regular_height_50_small_rounded_inactive.png": {
        "format": "L8_ARGB8888"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}